.more-action-button {
  position: relative;

  .button {
    & > svg {
      margin: 0;
    }
    padding: 8px;
  }

  .action-popup {
    position: absolute;
    white-space: nowrap;
    right: 0;
    top: calc(100% + 6px);
    opacity: 0;
    transform: translateY(-10%);
    transition: all .2s;
    pointer-events: none;

    &.open {
      opacity: 1;
      transform: translateY(0%);
      pointer-events: initial;
    }

    .action {
      padding: 12px 20px;
      background: #141414;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      transition: all .2s;


      &:hover {
        background: lighten(#141414, 10%);
      }
    }
  }
}
