.status-box {
  background: rgba(221, 64, 64, 0.08);
  border: 1px solid rgba(221, 64, 64, 0.5);
  padding: 14px 16px 14px 52px;
  position: relative;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  & > svg {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
  }
}
