.item-details-wrapper {

  @media (min-width: 1024px) {
    display: flex;
  }

  .image-section {
    margin-bottom: 24px;

    @media (min-width: 1024px) {
      flex: 0 0 45%;
      margin-right: 48px;
    }

    img {
      width: 100%;
      object-fit: cover;
      max-height: 335px;

      @media (min-width: 1024px) {
        max-height: 500px;
      }
    }
  }

  .item-details-section {
    flex: 1;
    overflow: hidden;

    .author-items-wrapper {
      display: flex;
      flex-flow: column-reverse;


      @media (min-width: 1024px) {
        flex-flow: column;
      }
    }

    .creator-details {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      .row {
        overflow: hidden;

        &:first-child {
          margin-right: 32px;
          overflow: visible;
        }

        .label {

          line-height: 24px;
          color: #7F7D7A;
          margin-bottom: 6px;
          font-weight: 400;
          font-size: 14px;

          @media (min-width: 1024px) {
            font-weight: 500;
            font-size: 16px;
          }
        }

        .value {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          white-space: nowrap;
          overflow: hidden;


          & > div {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          @media (min-width: 1024px) {
            font-size: 16px;
            line-height: 24px;
          }

          .avatar {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #7F7D7A;
            margin-right: 10px;
            flex: 0 0 24px;

            @media (min-width: 1024px) {
              width: 40px;
              height: 40px;
              flex: 0 0 40px;

            }
          }
        }
      }
    }

    .item-title {
      font-weight: 700;
      color: #FFFFFF;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 24px;

      @media (min-width: 1024px) {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 32px;

      }
    }

    .highest-offer {
      padding: 16px;
      background: rgba(165, 245, 111, 0.04);
      margin-top: 20px;
      border: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right, #087322, #A5F56F);
      margin-bottom: 20px;

      .label {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .expires {
          color: #CDCCCB;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          display: flex;
          align-items: center;

          @media (min-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
          }

          & > span {
            padding-right: 10px;
          }
        }
      }

      .accept-offer {
        margin-top: 16px;
        width: 100%;
      }
    }
  }
}
