.seller-offers-made {
  td {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 24px !important;
  }

  .username-row {
    display: flex;
    align-items: center;

    .avatar {
      width: 40px;
      height: 40px;
      margin-right: 14px;
    }

    .name {
      flex: 1;
      width: 100%;
      overflow: auto;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .offer-status {
    display: flex;
    align-items: center;

    .status-icon {
      margin-right: 6px;
      width: 16px;
      height: 16px;
    }

    .help-icon {
      height: 16px;
      margin-left: 6px;
    }
  }

  .resin-btn {
    background: transparent;
    color: #FFFFFF;
    transition: all .2s;

    &:hover {
      color: #DD4040;
    }
  }
}




