.tooltip {
  position: relative;
  display: inline-block;

  .tooltip-data {
    position: fixed;
    background: #2A2928;
    padding: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    white-space: initial;
    border-radius: 8px;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
    text-align: center;

    &.show {
      opacity: 1;
      pointer-events: initial;
    }

    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(42, 41, 40, 0);
      border-top-color: #2A2928;
      border-width: 8px;
      margin-left: -8px;
    }
  }
}
